# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build
build/
dist/
wheels/
*.egg-info/

# Virtual env
.venv/
venv/

# Database
data/
*.db

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db